# .gitignore
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/default.*
*/*xcodeproj/*.xcworkspace/
*/*.xcodeproj/xcshareddata/
*/*.xcodeproj/xcuserdata/

*.app
*.exe
*.exp

*.png
*.jpg
*.csv
*.txt
*.tiff
*.bmp
*.mov
*.m4v
*.avi

build/
temp/
!README.txt

*.pdb
*.tlog
*.idb
*.obj
*.cache
*.log
*.lastbuildstate
*.res
*.dll
*.opensdf
*.sdf
*.suo
*.lib
*.ilk

tmp_*/

Iconr
*.mp4
*.jpeg
